<body>
    <h1>MySQL Connector/J Reference</h1>
    <p/>

    This is a full documentation of Connector/J.

    <p/>
    To get started with X DevAPI, check out some of the main classes:

    <ul>
        <li>Sessions can be created with {@link com.mysql.cj.xdevapi.SessionFactory}.</li>
        <li>Session operations are available on a {@link com.mysql.cj.xdevapi.Session}.</li>
        <li>JSON document collections are represented by a {@link com.mysql.cj.xdevapi.Collection}.</li>
        <li>Working with JSON documents is done with a {@link com.mysql.cj.xdevapi.DbDoc}.</li>
    </ul>

    For an introduction to X DevAPI concepts, refer to the <a href="http://dev.mysql.com/doc/x-devapi-userguide/en/index.html">X DevAPI User Guide</a>.
</body>
