<body>
    <h1>MySQL Connector/J X DevAPI Reference</h1>
    <p></p>

    This documentation covers the public classes and interfaces of the Java implementation of the X DevAPI. To get started, check out some of the main classes:

    <ul>
        <li>Sessions can be created with {@link com.mysql.cj.xdevapi.SessionFactory}.</li>
        <li>Session operations are available on a {@link com.mysql.cj.xdevapi.Session}.</li>
        <li>JSON document collections are represented by a {@link com.mysql.cj.xdevapi.Collection}.</li>
        <li>Working with JSON documents is done with a {@link com.mysql.cj.xdevapi.DbDoc}.</li>
    </ul>

    For an introduction to concepts, refer to the <a href="http://dev.mysql.com/doc/x-devapi-userguide/en/index.html" target="_blank">X DevAPI User Guide</a>.
</body>
